<a href="https://colab.research.google.com/github/TuanAnhlewlew/TA/blob/main/Diabetes%20Diagnostic" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Diabetes Diagnostic using Neural Network, LogisticRegression, Naive Bayes, Stochastic Gradient Descent, KNeighbors, DecisionTree, RandomForest, Suport Vector Machine**

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [ ]:
#load data
data = pd.read_csv("diabetes.csv")
data.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [ ]:
data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# Scale data
sc=StandardScaler()
data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]=sc.fit_transform(data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']])
data.head(10)

   Pregnancies   Glucose  ...       Age  Outcome
0     0.639947  0.848324  ...  1.425995        1
1    -0.844885 -1.123396  ... -0.190672        0
2     1.233880  1.943724  ... -0.105584        1
3    -0.844885 -0.998208  ... -1.041549        0
4    -1.141852  0.504055  ... -0.020496        1
5     0.342981 -0.153185  ... -0.275760        0
6    -0.250952 -1.342476  ... -0.616111        1
7     1.827813 -0.184482  ... -0.360847        0
8    -0.547919  2.381884  ...  1.681259        1
9     1.233880  0.128489  ...  1.766346        1

[10 rows x 9 columns]

In [ ]:
#split data to training and test set
feature=data.iloc[:,:8]
label=data.iloc[:,8]
x_train,x_test,y_train,y_test=train_test_split(feature, label, test_size=0.3, random_state=42)

In [ ]:
#load model Neural Network
maxIter=1000
sizeHiddenLayers=(100,100)
_activation='logistic'
model=MLPClassifier(hidden_layer_sizes=sizeHiddenLayers ,activation=_activation,max_iter=maxIter)
model.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(model.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(model.score(x_test,y_test)))

Accuracy of model on train data is 0.7895716945996276
Accuracy of model on test data is  0.7316017316017316

In [ ]:
#load model Logistic Regression
log=LogisticRegression()
log.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(log.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(log.score(x_test,y_test)))

Accuracy of model on train data is 0.7821229050279329
Accuracy of model on test data is  0.7359307359307359

In [ ]:
#load model Na√Øve Bayes
gauss=GaussianNB()
gauss.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(gauss.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(gauss.score(x_test,y_test)))

Accuracy of model on train data is 0.7672253258845437
Accuracy of model on test data is  0.7445887445887446

In [ ]:
#load model Stochastic Gradient Descent
sgd=SGDClassifier()
sgd.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(sgd.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(sgd.score(x_test,y_test)))

Accuracy of model on train data is 0.7635009310986964
Accuracy of model on test data is  0.7229437229437229

In [ ]:
#load model K-Nearest Neighbours
knn=KNeighborsClassifier(n_neighbors=25)
knn.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(knn.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(knn.score(x_test,y_test)))

Accuracy of model on train data is 0.7802607076350093
Accuracy of model on test data is  0.7402597402597403

In [ ]:
#load model Decision Tree
tree=DecisionTreeClassifier(random_state=101,min_samples_leaf=15,max_depth=10)
tree.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(tree.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(tree.score(x_test,y_test)))

Accuracy of model on train data is 0.8305400372439479
Accuracy of model on test data is  0.7056277056277056

In [ ]:
#load model Random Forest
forest=RandomForestClassifier(random_state=101,min_samples_leaf=20,max_depth=10)
forest.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(forest.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(forest.score(x_test,y_test)))

Accuracy of model on train data is 0.8081936685288641
Accuracy of model on test data is  0.7662337662337663

In [ ]:
#load model Support Vector Machine
svm=SVC()
svm.fit(x_train,y_train)
print("Accuracy of model on train data is " +str(svm.score(x_train,y_train)))
print("Accuracy of model on test data is  " +str(svm.score(x_test,y_test)))

Accuracy of model on train data is 0.8342644320297952
Accuracy of model on test data is  0.7489177489177489